<ion-view view-title="Info {{id}}">
        <ion-content class="padding">
          <h1>Image Info</h1>
          <p>
            <a class="button" href="#/tab/detail?filename={{filename}}&imageSize=original">Original</a>&nbsp;
            <a class="button" href="#/tab/detail?filename={{filename}}&imageSize=auto">640px</a>&nbsp;
            <a class="button" href="#/tab/detail?filename={{filename}}&imageSize=edge">320px</a>&nbsp;
            <a class="button" href="#/tab/detail?filename={{filename}}&imageSize=poor">75x75</a>
          </p>
          <p><a class="button icon ion-arrow-left-a" href="#/tab/home"> Back</a></p>
  </ion-content>
</ion-view>
http://meztelen.hu/asset/thumbnail?filename