<ion-view view-title="Settings">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="item item-divider">Notifications</div>
    <ion-toggle ng-model="settings.enablePush" toggle-class="toggle-calm">Push Notifications</ion-toggle>
    <div class="item item-divider">Image size / Bandwidth usage</div>
    <ion-toggle ng-model="settings.imageSize" toggle-class="toggle-calm">EDGE ready</ion-toggle>    
    <!--ion-list>
      <ion-radio ng-model="settings.imageSize" ng-value="auto">Automatic</ion-radio>
      <ion-radio ng-model="settings.imageSize" ng-value="original">Original</ion-radio>
      <ion-radio ng-model="settings.imageSize" ng-value="edge">EDGE ready</ion-radio>
      <ion-radio ng-model="settings.imageSize" ng-value="poor">I am poor</ion-radio>
    </ion-list-->
    <div class="list">

      <button class="button button-block button-dark" ng-click="saveSettings()">
        Save
      </button>

      <a class="button" href="#/tab/credits">Credits</a>

    </div>
  </ion-content>  
</ion-view>
