<ion-view view-title="Settings">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="item item-divider">Notifications</div>
    <ion-toggle ng-model="enablePush" toggle-class="toggle-calm">Push Notifications</ion-toggle>
    <div class="item item-divider">Image size / Bandwidth usage</div>
    <div class="list">

  <label class="item item-radio">
    <input type="radio" name="group" ng-model="imageSize">
    <div class="item-content">
      Automatic
    </div>
    <i class="radio-icon ion-android-star"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="imageSize">
    <div class="item-content">
      Original
    </div>
    <i class="radio-icon ion-android-star"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="imageSize">
    <div class="item-content">
      EDGE ready
    </div>
    <i class="radio-icon ion-android-star-half"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="imageSize">
    <div class="item-content">
      I am poor
    </div>
    <i class="radio-icon ion-android-star-outline"></i>
  </label>

</div>
  </ion-content>  
</ion-view>
